# Clock
NET "clk_50mhz" LOC = "C9" | IOSTANDARD = LVCMOS33;

# Buttons
NET "btn_write" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN; # BTN_SOUTH
NET "btn_read"  LOC = "V4"  | IOSTANDARD = LVTTL | PULLDOWN; # BTN_NORTH

# Switches
NET "sw<0>" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;
NET "sw<1>" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP;
NET "sw<2>" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP;
NET "sw<3>" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP;

# LEDs
NET "led<0>" LOC = "F12" | IOSTANDARD = LVTTL | DRIVE = 8;
NET "led<1>" LOC = "E12" | IOSTANDARD = LVTTL | DRIVE = 8;
NET "led<2>" LOC = "E11" | IOSTANDARD = LVTTL | DRIVE = 8;
NET "led<3>" LOC = "F11" | IOSTANDARD = LVTTL | DRIVE = 8;

# LCD Control
NET "lcd_e"  LOC = "M18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "lcd_rs" LOC = "L18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "lcd_rw" LOC = "L17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;

# LCD Data (SF_D 8 to 11)
NET "sf_d<8>"  LOC = "R15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "sf_d<9>"  LOC = "R16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "sf_d<10>" LOC = "P17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "sf_d<11>" LOC = "M15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
