# Системийн цаг - 50 MHz (Onboard Oscillator)
NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33 ;

# Reset товч (BTN_SOUTH)
NET "rst" LOC = "K17" | IOSTANDARD = LVCMOS33 | PULLDOWN ;

# 4 Ширхэг Switch (SW0 - SW3)
NET "sw<0>" LOC = "L13" | IOSTANDARD = LVCMOS33 ;
NET "sw<1>" LOC = "L14" | IOSTANDARD = LVCMOS33 ;
NET "sw<2>" LOC = "H18" | IOSTANDARD = LVCMOS33 ;
NET "sw<3>" LOC = "N17" | IOSTANDARD = LVCMOS33 ;

# Write товч (BTN_WEST)
NET "btn_wr" LOC = "D18" | IOSTANDARD = LVCMOS33 | PULLDOWN ;

# Read товч (BTN_EAST)
NET "btn_rd" LOC = "H13" | IOSTANDARD = LVCMOS33 | PULLDOWN ;

# 4 Ширхэг LED (LD0 - LD3)
NET "led<0>" LOC = "F12" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "led<1>" LOC = "E12" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "led<2>" LOC = "E11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "led<3>" LOC = "F11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
