# Clock 50MHz
NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33;

# Switches
NET "sw<0>" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;
NET "sw<1>" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP;
NET "sw<2>" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP;
NET "sw<3>" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP;

# Buttons
NET "btn_write" LOC = "V4"  | IOSTANDARD = LVTTL | PULLDOWN; # BTN_NORTH
NET "btn_read"  LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN; # BTN_SOUTH

# LCD Control
NET "lcd_e"    LOC = "M18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "lcd_rs"   LOC = "L18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "lcd_rw"   LOC = "L17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;

# LCD Data lines (Shared with StrataFlash)
NET "sf_d<8>"  LOC = "R15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "sf_d<9>"  LOC = "R16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "sf_d<10>" LOC = "P17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "sf_d<11>" LOC = "M15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;

# StrataFlash Chip Enable (MUST BE HIGH to use LCD)
NET "sf_ce0"   LOC = "D16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
