
NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33;

NET "rst" LOC = "G3" | IOSTANDARD = LVCMOS33;
NET "btn_wr" LOC = "F4" | IOSTANDARD = LVCMOS33;
NET "btn_rd" LOC = "E3" | IOSTANDARD = LVCMOS33;

NET "sw[0]" LOC = "F9" | IOSTANDARD = LVCMOS33;
NET "sw[1]" LOC = "E9" | IOSTANDARD = LVCMOS33;
NET "sw[2]" LOC = "D9" | IOSTANDARD = LVCMOS33;
NET "sw[3]" LOC = "C9" | IOSTANDARD = LVCMOS33;

NET "led[7]" LOC = "F9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "led[6]" LOC = "E9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "led[5]" LOC = "D11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "led[4]" LOC = "C11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "led[3]" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "led[2]" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "led[1]" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "led[0]" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;


NET "ddr_clk" LOC = "T9" | IOSTANDARD = SSTL2_I;
NET "ddr_ras" LOC = "T8" | IOSTANDARD = SSTL2_I;
NET "ddr_cas" LOC = "U8" | IOSTANDARD = SSTL2_I;
NET "ddr_we"  LOC = "U7" | IOSTANDARD = SSTL2_I;

NET "ddr_ba[0]" LOC = "V5" | IOSTANDARD = SSTL2_I;
NET "ddr_ba[1]" LOC = "U5" | IOSTANDARD = SSTL2_I;

NET "ddr_a[0]" LOC = "V4" | IOSTANDARD = SSTL2_I;
NET "ddr_a[1]" LOC = "U4" | IOSTANDARD = SSTL2_I;
NET "ddr_a[2]" LOC = "V3" | IOSTANDARD = SSTL2_I;
NET "ddr_a[3]" LOC = "U3" | IOSTANDARD = SSTL2_I;
NET "ddr_a[4]" LOC = "V2" | IOSTANDARD = SSTL2_I;
NET "ddr_a[5]" LOC = "U2" | IOSTANDARD = SSTL2_I;
NET "ddr_a[6]" LOC = "V1" | IOSTANDARD = SSTL2_I;
NET "ddr_a[7]" LOC = "U1" | IOSTANDARD = SSTL2_I;
