# ==============================
# XC95108 (XC95 board) pin LOCs
# For DIO4 expansion signals
# ==============================

NET "mclk"  LOC = "9";
NET "reset" LOC = "2";

NET "dp"    LOC = "15";

NET "button<0>" LOC = "14";
NET "button<1>" LOC = "13";
NET "button<2>" LOC = "58";
NET "button<3>" LOC = "57";

NET "led<0>" LOC = "83";
NET "led<1>" LOC = "81";
NET "led<2>" LOC = "79";
NET "led<3>" LOC = "72";
NET "led<4>" LOC = "70";
NET "led<5>" LOC = "65";
NET "led<6>" LOC = "66";
NET "led<7>" LOC = "63";

NET "ledg"  LOC = "62";

NET "ssg<0>" LOC = "35";  # CA (segment A)
NET "ssg<1>" LOC = "33";  # CB
NET "ssg<2>" LOC = "31";  # CC
NET "ssg<3>" LOC = "25";  # CD
NET "ssg<4>" LOC = "23";  # CE
NET "ssg<5>" LOC = "20";  # CF
NET "ssg<6>" LOC = "18";  # CG

NET "switch<0>" LOC = "36";
NET "switch<1>" LOC = "34";
NET "switch<2>" LOC = "32";
NET "switch<3>" LOC = "26";
NET "switch<4>" LOC = "24";
NET "switch<5>" LOC = "21";
NET "switch<6>" LOC = "19";
NET "switch<7>" LOC = "17";

NET "anode<0>" LOC = "55"; # AN2? (per manual mapping)
NET "anode<1>" LOC = "54";
NET "anode<2>" LOC = "53";
NET "anode<3>" LOC = "52";
